.request-controls {
    padding: 2px 15px 20px;
}

#search-tag {
    margin-top: 5px;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 5px;
}

.request-list {
    margin-top: 20px;
}

.request-list:last-child {
    border-bottom: 1px solid rgb(39, 39, 39);
}

.request {
    border-top: 1px solid rgb(39, 39, 39);
    padding: 15px;
}

.request h2 {
    margin: 0 0 6px;
}

.request p {
    margin: 4px 0 0;
}

.request ul {
    padding: 0;
    display: flex;
    gap: 5px;
    margin: 10px 0 20px;
}

.request ul li {
    list-style-type: none;
    background-color: #abc9d2;
    padding: 5px 10px;
    border-radius: 5px;
}

.view-request-wrapper {
    display: flex;
    justify-content: flex-end;
}

.view-request {
    background-color: #082933;
    color: #fff;
    padding: 12px 16px;
    border-radius: 10px;
    text-decoration: none;
}

.view-request:hover {
    text-decoration: underline;
}

@media (min-width: 900px) {
    .request {
        display: flex;
        align-items: flex-end;
    }

    .request-details {
        flex: auto;
    }

    .request ul {
        margin-bottom: 0;
    }
}

/*.search-bar {
    display: flex;
    max-width: 600px;
    margin-top: 8px;
}

.search-bar input {
    width: 100%;
    padding: 0;
    border-radius: 15px;
    border: 1px solid black;

    padding: 10px 50px 10px 10px;
    font-size: 1rem;
}

.btn-search {
    background-color: transparent;
    border: none;
    margin-left: -45px;
}

.btn-search img {
    height: 30px;
    width: 30px;
}

@media (min-width: 800px) {
    form {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 600px;
    }

    .search-bar {
        flex: 1;
        margin-top: 0;
    }
}*/
