@media (min-width: 800px) {
    #root {
        display: grid;
        grid-template-columns: 300px 1fr;
        min-height: 100vh;
        background-color: #abc9d2;
    }

    .menu {
        position: sticky;
        top: 0;
        align-self: start;
        padding-top: 50px;
    }

    .menu div {
        max-width: 230px;
    }

    .to-top {
        display: none;
    }

    .wrapper {
        background-color: #fff;
        padding: 50px 30px 20px;
    }

    h1 {
        margin-top: 0;
    }

    footer {
        z-index: 2;
    }
}
