@media (min-width: 800px) {
    #root {
        display: grid;
        grid-template-columns: 300px 1fr;
        min-height: 100vh;
        background-color: #abc9d2;
    }

    .menu {
        position: sticky;
        top: 0;
        align-self: start;
    }

    .menu div {
        max-width: 230px;
    }

    .to-top {
        display: none;
    }

    .wrapper {
        background-color: #fff;
    }

    .data {
        padding: 10px 30px;
    }

    footer {
        z-index: 2;
    }
}
