@media (min-width: 800px) {
    #request-description {
        min-height: 200px;
    }
    .btn-submit {
        max-width: 200px;
        justify-self: end;
    }
}

@media (min-width: 900px) {
    .request-exam-period {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}
