.profile-request {
    border-top: 1px solid rgb(39, 39, 39);
    padding: 15px;
}

.profile-request:last-child {
    border-bottom: 1px solid rgb(39, 39, 39);
}

.profile-request h2 {
    margin: 0 0 6px;
}

.profile-request p {
    margin: 4px 0 0;
}

.profile-request ul {
    padding: 0;
    display: flex;
    gap: 5px;
    margin: 10px 0 20px;
}

.profile-request ul li {
    list-style-type: none;
    background-color: #abc9d2;
    padding: 5px 10px;
    border-radius: 5px;
}

.profile-request-controls {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.edit-profile,
.profile-request-controls a {
    background-color: #082933;
    color: #fff;
    padding: 12px 16px;
    border-radius: 10px;
    text-decoration: none;
}

.edit-profile:hover,
.profile-request-controls a:hover,
.profile-controls button:hover {
    text-decoration: underline;
}

.edit-profile {
    display: block;
    text-align: center;
    max-width: 80px;
    margin: 30px 0;
}

.profile-controls {
    border-bottom: 6px solid #082933;
}

.profile-controls button {
    padding: 10px 20px;
    background-color: #abc9d2;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px 10px 0 0;
}

.profile-controls .active {
    background-color: #082933;
    color: #fff;
}

.examiner-header {
    padding-left: 15px;
    margin: 25px 0;
}

@media (min-width: 800px) {
    .profile-controls button {
        padding: 10px 5px;
        min-width: 150px;
    }
}

@media (min-width: 1000px) {
    .profile-request {
        display: flex;
    }

    .profile-request-details {
        flex: auto;
    }

    .profile-request ul {
        margin-bottom: 0;
    }
}
