* {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #082933;
}

.signup-wrapper {
    background-color: #fff;
    padding: 10px 10px 20px;
    grid-column: -1/1;
}

.signup-wrapper form,
.signup-buttons {
    display: grid;
}

.signup-wrapper label {
    margin-top: 10px;
}

h1 {
    margin: 0 0 10px;
    padding-top: 10px;
    text-align: center;
}

#input-name,
#input-email,
#input-phone,
#input-university,
#input-education,
#input-password {
    border: 1px solid rgb(39, 39, 39);
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
}
.signup-wrapper a {
    margin-top: 25px;
}

.btn-signup {
    background-color: #082933;
    color: #fff;
    border: 4px solid #082933;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 1rem;
}

.btn-signup:hover {
    background-color: #fff;
    color: #082933;
}

footer {
    color: #fff;
    text-align: center;
    background-color: #082933;
}
