p {
    margin: 4px 0 0;
}

.details ul {
    padding: 0;
    display: flex;
    gap: 5px;
    margin: 10px 0 20px;
}

.details ul li {
    list-style-type: none;
    background-color: #abc9d2;
    padding: 5px 10px;
    border-radius: 5px;
}

h2 {
    margin: 30px 0 5px;
}

.btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.apply {
    background-color: #082933;
    color: #fff;
    border: 4px solid #082933;
    border-radius: 7px;
    padding: 10px 35px;
    font-size: 1rem;
}

.apply:hover {
    background-color: #fff;
    color: #082933;
}

.request-feedback-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.request-feedback {
    display: none;
    text-align: right;
    padding: 10px;
    border: 2px solid #082933;
    border-radius: 7px;
}

@media (min-width: 500px) {
    .btn-wrapper {
        justify-content: right;
    }
}
